body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F8F8FA;
}
h1{
  margin-bottom: 0;
}

.search-container>.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
 }

input::-webkit-input-placeholder {
  color: #cccccc !important;
}
   
input:-moz-placeholder { /* Firefox 18- */
  color: #cccccc !important;  
}
   
input::-moz-placeholder {  /* Firefox 19+ */
  color: #cccccc !important;  
}
   
input:-ms-input-placeholder {  
  color: #cccccc !important;  
}

.MainView{
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.14);
  padding: 0;
}
.DetailView{
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.14);
  padding: 0;
}
.Header{
  background-color: #f6682F;
  height: 50px;
}
.search-bar{
  display: inline-block;
}
.search-bar>.search-container{
  width: 65%;
}
.input-group-text{
  background-color: white;
}
.search-container{
  position: relative;
  display: inline-block;
}
.search-container input{
  text-indent: 30px;
  width: 100% !important;
  /* box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset; */
}
.search-container .fa-search{
  position: absolute;
  top: 10px;
  left: 13px;
  font-size: 15px;
  color: #dee2e6;
}
.SearchBar .navbar{
  box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.14)
}
.loading {
  position: absolute;
  top: 8px;
  left: 11px;
  border: 4px solid #dee2e6; /* Light grey */
  border-top: 4px solid #4d4d4d; /* Blue */
  border-radius: 50%;
  width: 21px;
  height: 21px;
  animation: spin 2s linear infinite;
}
.Content{
  background-color: white;
}
.page-link{
  padding: 3px 5px;
  border-radius: .25rem;
}
.page-item-hidden{
  display: none;
}
.page-link span{
  color: black;
  font-size: 12px;
}
.table{
  table-layout: fixed;
}
.table thead{
  background-color: #f4f9ff;
  font-size: 14px;
  line-height: 1;
}
.table thead th:first-child{
  width: 4%;
}
.pagination{
  padding-top: 10px;
  margin-bottom: 10px;
  padding-right: 15px;
}
.CoinsList{
  margin: 0px 15px 20px 15px;
}
.CoinsList thead tr th:first-child{
  background-color: #706F6F;
  border-left-color: #706F6F;
  color: white;
}
.CoinsList thead{
  border-bottom: 5px solid rgb(139, 139, 139);
}
.Title{
  background-color: #f4f9ff;
}
.Content{
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.14);
}
.fa-caret-up, .fa-caret-down{
  color: #848484;
  position: absolute;
  margin-left: 5px;
  font-size: 13px;
}
.fa-caret-up{
  top:175px;
}
.fa-caret-down{
  top:182px;
}
.Content{
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-top: 17px !important;
}
.DetailTitle{
  margin: 0;
  padding: 0;
  max-width: 100%;
  padding-top: 17px !important;
}
.coin-logo{
  width: 46%;
  margin-right: 70px;
}
.coin-name{
  padding-top: 17px;
}
.coin-name h5{
  margin-right: 70px;
}
.coin-price{
  font-size: 45px;
  margin-left: -105px;
  text-align: left;
}
.coin-price strong{
  margin-right: 17px;
}
.coin-price small{
  font-size: 21px;
}
.fa-won-sign{
  margin-right: 11px;
  font-size: 40px;
}
.coin-price .fa-caret-up{
  top:9px;
  margin-left: -40px;
  font-size: 25px;
}
.coin-sub-price{
  margin-left: -105px;
  margin-top: 32px;
}
.coin-sub-price .col-sm p:nth-child(2){
  font-size: 13px;
}
.coin-sub-price .col-sm:nth-child(1) p:nth-child(1){
  color: #40c358;
}
.coin-sub-price .col-sm:nth-child(2) p:nth-child(1){
  color: #fd2d52;
}
.coin-sub-price .col-sm p{
  margin-bottom: 0;
}
.coin-sub-price p:first-child{
  margin-top: 49px;
}
.DetailGraph{
  height: 500px;
  background-color: #f6682F;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}







@media screen and (max-width : 1025px){
  .App>.container{
    padding: 0;
    max-width: 100%;
  }
  .search-bar>.search-container{
    width: 100%;
  }
}

@media screen and (max-width : 768px){
  .CoinsList 
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6),
  th:nth-child(7),
  td:nth-child(4),
  td:nth-child(5),
  td:nth-child(6),
  td:nth-child(7){
    display: none;
  }
  .coin-logo{
    margin-right: 0;
    width: 15%;
  }
  .coin-name h5{
    margin-right: 0;
  }
  .coin-price{
    margin-left: 0;
    font-size: 35px;
    text-align: center;
  }
  .fa-won-sign{
    font-size: 33px;
  }
  .coin-price .fa-caret-up{
    top: 4px;
    font-size: 23px;
    margin-left: -34px;
  }
  .coin-price small{
    font-size: 17px;
  }
  .coin-sub-price{
    margin-left: 37px;
    margin-top: 0;
  }
  .coin-sub-price p:first-child{
    margin-top: 22px;
  }
}

